#content-wrapper {
    min-height: calc(100vh - 60px); 
    padding-bottom: 60px; 
  }
.main-part{
    max-height: calc(100vh - 110px); 
}
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; 
    text-align: center;
  }

.my-background {
    background-image: linear-gradient(to left, #4192b3, #dd5046, #efd249);
  }

.min-heigh-210px{
  min-height: 210px;
}

.my-button:not(:disabled):not(:disabled):active {
  background-color: green;
} 

.remove_line{
  text-decoration:none
}

.wrap-text {
  word-wrap: break-word;
}