{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Favourite Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="#">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      {%if posts %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         {% for post in posts %}
        <div class="col" >
          <div class="card shadow-sm">
            <img src="../static/images/quantori_logo_blog.png" alt="{{ post[1] }}" >
            <div class="card-body min-heigh-210px">
              <h2 class="card-title" style ="color: #dd5046">{{ post[1] }}</h2>
              <div class="about text-muted font-italic">by {{ post[4].capitalize() }} on {% if post[3] is not none %}{{ post[3].strftime('%Y-%m-%d') }}{% endif %}</div>
              {% set max_chars = 80 %}
              {% set truncated_body = post[2][:max_chars] %}
              <p class="card-text">
                {{ truncated_body }}
                {% if post[2]|length > max_chars %}
                <a href="{{url_for('blog.read', id=post[0])}}" class="link-info remove_line">Read More...</a>
                {% endif %}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if g.user and g.user[0] == post[6] %}
                    <a href="{{ url_for('blog.update', id=post[0]) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                  {% endif %}</div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="">
        <h4>You don't have favourite blogs yet</h4>
      </div>
      {% endif %}
      <hr>
    </div>
  </div>
{% endblock %}
